<!doctype html>
<html>
  <head>
    <title>Pinkify</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <form method="POST" action="/pinkified">
        <p><input name="url" type="text" placeholder="Enter an image URL"></p>
        <input type="submit" value="Pinkify">
      </form>
    </div>
  </body>
</html>
