<!doctype html>
<html>
  <head>
    <title>Pinkify</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <form method="POST" action="/pinkified" enctype="multipart/form-data">
        <label id="upload">
          <input name="image" type="file" accept="image/*" required="required" />
          <span id="choose">Choose Image</span>
          <span id="chosen">Image Selected</span>
        </label>
        <input id="submit" type="submit" value="Pinkify">
      </form>
    </div>
  </body>
</html>
