<!doctype html>
<html>
  <head>
    <title>Pinkify</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <form method="POST" action="/pinkified" enctype="multipart/form-data">
        <label class="upload">
          <input name="image" type="file"/>
          Choose Image
        </label>
        <input type="submit" value="Pinkify">
      </form>
    </div>
  </body>
</html>
