<!doctype html>
<html>
  <head>
    <title>Pinkified</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div>
        <%= get_image(@file_name) %>
        <a class='btn' href='/'>Back</a>
      </div>
    </div>
  </body>
</html>
